@charset "utf-8";

@import 'vendor/normalize';
@import 'utils/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
}

html {
  height: 100%;
}

body {
  background: $light-grey;
  color: $dark-grey;
  display: flex;
  flex-flow: column;
  font: 400 1em/1.25 $fonts;
  min-height: 100%;
}

::selection {
  background-color: $pink;
  color: $white;
}

a {
  border-bottom: 1px dotted $pink;
  color: $pink;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fonts-heading;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 1rem;
  width: 100%;
}

.header {
  background: $green;
  flex-shrink: 0;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a {
    border-bottom: 0;
  }
}

  .header__logo {
    background: url('/images/logo.png') no-repeat center center / contain;
    display: block;
    font-size: 0;
    height: 8rem;
    width: 10rem;
  }

  .header__nav {
    a {
      color: $white;
    }
  }

.content {
  flex-grow: 1;
  height: 100%;
  min-height: 2em;
}

.footer {
  background: $pink;
  color: $white;
  flex-shrink: 0;
  font-size: 0.85em;
}
