---
title: Our Team
layout: layout
---

<h1>Our Team</h1>

<h2>Executives</h2>
<ul>
  <li><%= link_to 'Ben', '/candidates/ben.html' %></li>
  <li><%= link_to 'Ryan', '/candidates/ryan.html' %></li>
</ul>

<h2>Academic Directors</h2>

<h2>Professional Faculties Directors</h2>

<h2>College Directors</h2>
