.candidates {
  text-align: center;
}

.candidate {
  cursor: pointer;
  padding: 0 !important;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 15em;

  &:hover {
    box-shadow: 0 0 0 0.25em $pink;
  }

  a {
    border: 0;
    color: $dark-grey;
    display: block;
    padding: 1em;
  }

  img {
    border-radius: $radius;
    height: 8em;
    width: 8em;
  }
}

  .candidate__name {
    font-size: 1.65em;
    font-weight: 700;
    margin: 0.5rem;
  }

  .candidate__position {
    font-size: 1.15em;
  }

.candidate__card {
  background: $white url('/images/bubble.png') no-repeat bottom -2em right -2em;
  border-radius: $radius;
  border: 1px solid $blue;
  display: table;
  margin: 1.5em auto;
  max-width: 50em;
  padding: 1em;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

  .candidate__card__profile,
  .candidate__card__info {
    display: table-cell;
    vertical-align: top;
  }

  .candidate__card__profile {
    padding-right: 1em;
    width: 16em;

    img {
      height: 15em;
      width: 15em;
    }
  }

  .candidate__card__info {
    border-left: 1px solid $blue;
    padding-left: 1em;

    p + h3,
    ul + h3 {
      margin-top: 1em;
    }

    li {
      margin-left: 1.25em;
    }
  }

.candidate__more {
  @extend .home__section__more;
  border: 1px solid $blue !important;

  &:hover {
    box-shadow: 0 0 0 0.15em $blue !important;
    color: $blue !important;
  }
}
