.home__hero {
  @extend .content__header;
  height: 28rem;
  margin-bottom: 0;

  &::after {
    content: '';
    display: block;
    background: url('/images/execs.png') no-repeat center bottom / contain;
    height: 20rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

  .home__hero__text {
    @extend .content__header__text;

    @include breakpoint(mobile) {
      bottom: auto;
      color: $green;
      top: 0;

      &::before {
        background: none;
      }
    }
  }

.home__section {
  background-color: $blue;
  color: $white;
  padding: 2em 1em;
  text-align: center;

  &:nth-child(odd) {
    background-color: $green;
  }

  h1 {
    border-bottom: 1px dashed rgba($white, 0.75);
    margin-bottom: 1rem;
    margin-top: 0;
    padding-bottom: 0.5rem;
  }
}

  .home__section__more {
    background: $white;
    border-radius: $radius;
    border: 0;
    color: $dark-grey;
    display: inline-block;
    margin-top: 1em;
    padding: 0.35em 0.75em;
    transition: box-shadow 0.3s, color 0.3s;

    &::after {
      border: 0.25em solid transparent;
      border-left-color: currentColor;
      content: '';
      display: inline-block;
      height: 0;
      margin-left: 0.5em;
      vertical-align: middle;
      width: 0;
    }

    &:hover {
      box-shadow: 0 0 0 0.15em $pink;
      color: $pink;
    }
  }

.home__platform {
  img {
    max-width: 5em;
  }
}

.home__candidates {
  .candidate {
    background-color: rgba($white, 0.9);

    &:hover {
      background-color: $white;
    }
  }
}

.home__email {
  form {
    margin: 0 auto;
    max-width: 30em;
  }

  input[type='email'],
  input[type='text'] {
    background: $white;
    border: 1px solid $light-grey;
    border-radius: $radius;
    color: $dark-grey;
    opacity: 0.75;
    padding: 0.25em 0.5em;
    transition: opacity 0.3s;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .indicates-required {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 1em;
  }

  .asterisk {
    color: $pink;
    font-style: normal;
    font-weight: 700;
  }

  .mc-field-groups {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .mc-field-group {
    display: table-row;
    text-align: left;

    label,
    input {
      display: table-cell;
    }

    label {
      padding: 0.5em 0;
      width: 7.5em;
    }

    input {
      width: 100%;
    }
  }
}

.home__vote {
  padding-bottom: 3rem;

  h3 {
    margin-top: 1.5rem;
  }

  a {
    color: $white;
  }
}

  .home__vote__action {
    font-size: 1.5em;
  }
