.home__hero {
  background: url('/images/uoft.jpg') no-repeat center bottom / cover;
  height: 28rem;
  position: relative;
  text-align: center;
  z-index: -1;

  &::after {
    content: '';
    display: block;
    background: url('/images/execs.png') no-repeat center bottom / contain;
    height: 20rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

  .home__hero__text {
    bottom: 0;
    color: $white;
    font-family: $fonts-heading;
    font-size: 2em;
    left: 0;
    padding: 0.5em;
    position: absolute;
    width: 100%;
    z-index: 10;

    &::before {
      background: linear-gradient(to bottom, transparent, $green);
      bottom: 0;
      content: '';
      display: block;
      height: 4em;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }

.home__section {
  background-color: $blue;
  color: $white;
  padding: 2em 1em;
  text-align: center;

  &:nth-child(odd) {
    background-color: $green;
  }

  h2 {
    border-bottom: 1px dashed rgba($white, 0.75);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }
}

  .home__section__more {
    background: $white;
    border-radius: $radius;
    border: 0;
    color: $dark-grey;
    display: inline-block;
    margin-top: 1em;
    padding: 0.35em 0.75em;
    transition: box-shadow 0.3s, color 0.3s;

    &::after {
      border: 0.25em solid transparent;
      border-left-color: currentColor;
      content: '';
      display: inline-block;
      height: 0;
      margin-left: 0.5em;
      vertical-align: middle;
      width: 0;
    }

    &:hover {
      box-shadow: 0 0 0 0.15em $pink;
      color: $pink;
    }
  }

.home__candidates {
  .candidate {
    background-color: rgba($white, 0.85);

    &:hover {
      background-color: $white;
    }
  }
}
