.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 1rem 2rem;
  width: 100%;

  @include breakpoint(mobile) {
    padding: 1rem;
  }
}

  .container__narrow {
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;
  }

.header {
  background: $green;
  flex-shrink: 0;
  margin-bottom: -1rem;
  position: relative;

  &::after {
    border-color: $green transparent transparent transparent;
    border-style: solid;
    border-width: 1rem 100vw 0 0;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
      display: block;
      text-align: center;
    }
  }

  a {
    border-bottom: 0;
  }
}

  .header__logo {
    display: block;
    font-size: 0;
    height: 4rem;
    position: relative;
    width: auto;

    @include breakpoint(mobile) {
      height: auto;
    }
  }

    .header__logo__img {
      background: url('/images/logo.png') no-repeat center center / contain;
      display: inline-block;
      height: 10rem;
      left: 0;
      position: absolute;
      top: -0.5rem;
      width: 12rem;

      @include breakpoint(mobile) {
        height: 7rem;
        margin-bottom: 1rem;
        position: static;
      }
    }

  .header__nav {
    a {
      border-bottom: 2px solid transparent;
      color: $white;
      margin-left: 1em;
      transition: border-bottom-color 0.2s;

      &:hover {
        border-bottom-color: $white;
      }

      @include breakpoint(mobile) {
        margin: 0 0.5em;
      }
    }
  }

.content {
  flex-grow: 1;
  height: 100%;
  min-height: 2em;

  .index &.container{
    @include breakpoint(mobile) {
      padding: 1rem 0;
    }
  }
}

  .content__header {
    background: url('/images/uoft.jpg') no-repeat center bottom / cover;
    height: 18rem;
    margin-bottom: 2em;
    position: relative;
    text-align: center;
    z-index: -1;
  }

    .content__header__text {
      bottom: 0;
      color: $white;
      font-family: $fonts-heading;
      font-size: 2.5em;
      left: 0;
      padding: 0.5em;
      position: absolute;
      width: 100%;
      z-index: 10;

      &::before {
        background: linear-gradient(to bottom, transparent, $green);
        bottom: 0;
        content: '';
        display: block;
        height: 4em;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
      }
    }


.footer {
  background: $pink;
  color: $white;
  flex-shrink: 0;
  font-size: 0.85em;
  margin-top: 1rem;
  position: relative;

  &::before {
    border-color: transparent transparent $pink transparent;
    border-style: solid;
    border-width: 0 0 1rem 100vw;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    top: -1rem;
    width: 0;
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .index & {
    margin-top: -1rem;
  }
}

  .footer__social {
    span,
    a {
      display: inline-block;
      opacity: 0.65;
      vertical-align: middle;
    }

    a {
      border: 0;
      color: $white;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }

    svg {
      height: 3rem;
      width: 3rem;
    }
  }

  .footer__copy {
    font-size: 0.85em;
    opacity: 0.65;
  }
