---
title: Our Platform
layout: narrow
---

<p><%= data.platform.intro %></p>

<div class="video__container video__fb">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-video" data-allowfullscreen="1" data-href="/hellouoft/videos/vb.1679966518940028/1690188181251195/?type=3">
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/hellouoft/videos/1690188181251195/"><a href="https://www.facebook.com/hellouoft/videos/1690188181251195/">Meet Hello UofT</a><p></p>Posted by <a href="https://www.facebook.com/hellouoft/">Hello UofT</a> on Friday, March 18, 2016</blockquote>
    </div>
  </div>
</div>

<h1>You had me at...</h1>

<ul class="accordion">
  <% data.platform.full.each do |platform_point| %>
    <li class="accordion__item">
      <label>
        <input class="accordion__item__check" type="checkbox">
        <span class="accordion__item__label"><%= platform_point.title %></span>

        <div class="accordion__item__content"><%= platform_point.point.gsub(/\n/,"<br/>") %></div>
      </label>
    </li>
  <% end %>
</ul>
