---
title: Our Platform
layout: narrow
---

<p><%= data.platform.intro %></p>

<!--div><class="video__container">
  <iframe src="https://www.youtube.com/embed/qyee_sxJpXc?rel=0?&amp;theme=light" width="300" height="150" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  <h2>Check back on Wednesday for a really cool video.</h2>
  <br/>
  <p>(Like seriously it's really cool.)</p>

</div-->

<h1>&nbsp;&nbsp;You had me at...</h1>

<ul class="accordion">
  <% data.platform.full.each do |platform_point| %>
    <li class="accordion__item">
      <label>
        <input class="accordion__item__check" type="checkbox">
        <span class="accordion__item__label"><%= platform_point.title %></span>

        <div class="accordion__item__content"><%= platform_point.point.gsub(/\n/,"<br/>") %></div>
      </label>
    </li>
  <% end %>
</ul>
