* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
}

html {
  height: 100%;
}

body {
  background: $light-grey;
  color: $dark-grey;
  display: flex;
  flex-flow: column;
  font: 400 1em/1.25 $fonts;
  min-height: 100%;
  overflow-x: hidden;
}

::selection {
  background-color: $pink;
  color: $white;
}

a {
  border-bottom: 1px dotted $pink;
  color: $pink;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fonts-heading;
}
