$fonts: 'Cabin', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$fonts-heading: 'Lobster Two';

$green: #06d68a;
$blue: #48bbdd;
$pink: #e3477d;
$light-grey: #f6f6f6;
$dark-grey: #545555;
$white: #fff;

$radius: 4px;

// Responsive layout breakpoints
$breakpoints: (
  'tiny'   : (max-width: 320px),
  'small'  : (max-width: 480px),
  'mobile' : (max-width: 768px),
  'medium' : (max-width: 1024px),
  'large'  : (max-width: 1200px)
);
