---
layout: layout
---

<section class="home__hero">
  <p class="home__hero__text">Say hello to a better tomorrow.</p>
</section>

<section class="home__section">
  <h2>Platform points</h2>
  <%= link_to 'Learn more', '/platform' %>
</section>

<section class="home__section">
  <h2>Executive team</h2>
  <%= link_to 'See the full team', '/candidates' %>
</section>

<section class="home__section">
  <h2>Vote!</h2>
  March 22 - 24
  <%= link_to "Voting's easy!", '/vote' %>
</section>
