---
layout: layout
---

<section class="home__hero">
  <p class="home__hero__text">Say hello to a better tomorrow.</p>
</section>

<section class="home__section">
  <h2>Our Commitments</h2>

  <ul class="home__platform">
    <li>Something</li>
    <li>Something</li>
    <li>Something</li>
    <li>Something</li>
    <li>Something</li>
  </ul>

  <%= link_to 'Learn more', '/platform', { class: 'home__section__more' } %>
</section>

<section class="home__section">
  <h2>The Executive Team</h2>

  <ul class="home__candidates">
    <li>Something</li>
    <li>Something</li>
    <li>Something</li>
  </ul>

  <%= link_to 'See the full team', '/candidates', { class: 'home__section__more' } %>
</section>

<section class="home__section">
  <h2>Go Vote!</h2>
  <p>March 22 - 24</p>

  <%= link_to "Voting's easy!", '/vote', { class: 'home__section__more' } %>
</section>
