---
layout: layout
---

<section class="home__hero">
  <p class="home__hero__text">Say hello to a better tomorrow.</p>
</section>

<section class="home__section">
  <h2>Platform points</h2>

  <ul class="home__platform">
    <li>Something</li>
    <li>Something</li>
    <li>Something</li>
    <li>Something</li>
    <li>Something</li>
  </ul>

  <%= link_to 'Learn more', '/platform' %>
</section>

<section class="home__section">
  <h2>Executive team</h2>

  <ul class="home__candidates">
    <li>Something</li>
    <li>Something</li>
    <li>Something</li>
  </ul>

  <%= link_to 'See the full team', '/candidates' %>
</section>

<section class="home__section">
  <h2>Vote!</h2>
  <p>March 22 - 24</p>
  <%= link_to "Voting's easy!", '/vote' %>
</section>
